{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if title %}
            Party Picture Presenter v2 - {{ title }}
        {% else %}
            Party Picture Presenter v2
        {% endif %}

    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "presenter/css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "presenter/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="{% static "presenter/js/jquery.js"%}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "presenter/js/bootstrap.min.js"%}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--placeholder for custom CSS and JavaScript files -->
    {% block head %}

    {% endblock %}

</head>

<body id="bodyID">
    <!-- navigation -->
    {% include "presenter/nav.html" %}
    <div class="container">
        {% if title %}
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <h1 id="title">{{ title }}</h1>
                </div>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
        <br/>
        <br/>
    </div>
</body>

</html>
