@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

    .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
        background-color: #ffffff;
    }
    .wy-table td, .rst-content table.docutils td, .rst-content table.field-list td {
        background-color: #ffffff;
    }
    .wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
        background-color: #b3ccff;
    }
    .wy-nav-content {
        max-width: none;
    }
    .toggle .header {
        display: block;
        clear: both;
    }

    .toggle .header:after {
        content: " ▼";
        color: #009900;
    }

    .toggle .header.open:after {
        content: " ▲";
        color: #cc6600;
    }
}

.wy-side-nav-search>div.version {
    color: white;
}